body {
  background-color: rgb(227, 227, 227);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  color: red;
  font-size: 3em;
  text-align: center;
}

p {
  color: rgb(1, 129, 14);
  font-size: 1.5em;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: rgb(88, 208, 255);
  font-weight: bold;
  text-decoration: none;
}

img {
  max-width: 200px;
  object-fit: cover;
  object-position: center;
}

img:hover {
  max-width: 200px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  object-position: center;
}

.img-button-container {
  display: flex;
  align-items: stretch, center;
  justify-content: center;
  gap: 10px;
}

.img-button-container btn {
  height: 200px;
  width: 100%;
  flex: 1;
  padding: 0;
}

.img-button-container btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
  font-size: 2em;
}

nav{
  display: flex;
  align-items: center;
  background-color: rgb(141, 141, 141);
  border-radius: 5px;
  border: 3px solid rgb(69, 69, 69);
}

.navlist{
  display: flex;
  font-size: 25px;
  list-style: none;
  padding: 0em 2em;
  gap: 1.5em;
}

.navlogo{
  display: flex;
  height: 70px;
  padding: 5px;
}

.cookie-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hlist{
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.hlist button{
  height: 30px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}